@model AisMKIT.Models.ListOfEducations

@{
    ViewData["Title"] = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Учебное заведение</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomenNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomenNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.Display("Категория")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClUchZavedCategory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
