@model AisMKIT.Models.ListOfCinematographyCertificates

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы хотите удалить эту запись?</h3>
<div>
    <h4>Прокатное удостоверение</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameRus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameRus)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CinemaCountries)
        </dt>
        <dd class="col-sm-10">
            @foreach (var country in Model.CinemaCountries)
            {
                @country.DictCountry.Name

                @if (country.Id != Model.CinemaCountries.LastOrDefault().Id)
                {
                    <i>,</i>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Years)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Years)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CinemaRegisers)
        </dt>
        <dd class="col-sm-10">

            @foreach (var regiser in Model.CinemaRegisers)
            {
                @regiser.DictCinemaRegiser.FullName

                @if (regiser.Id != Model.CinemaRegisers.LastOrDefault().Id)
                {
                    <i>,</i>
                }
            }
        </dd>

        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameKyrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameKyrg)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictCountry.Name)
        </dd class>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Years)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Years)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictCinemaRegiser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictCinemaRegiser.FullName)
        </dd class>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DictCinemaDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DictCinemaDuration.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DictCinemaAgeRestrictions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DictCinemaAgeRestrictions.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd class>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
