@model AisMKIT.Models.ListOfCinematographyCertificates

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Сертификаты к фильмам</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameRus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameRus)
        </dd>
        @*@<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameKyrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameKyrg)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictCountry.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Years)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Years)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictRegiser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictRegiser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictDuration.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictAgeRestrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictAgeRestrictions.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
