@model IEnumerable<AisMKIT.Models.ListOfCinematographyCertificates>

@{
    ViewData["Title"] = "Index";
}

<h1>Сертификаты к фильмам</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<div class="container overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CinemaCountries)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Years)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CinemaRegisers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictCinemaDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictCinemaAgeRestrictions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameRus)
                    </td>
                    <td>
                        @foreach (var country in item.CinemaCountries)
                        {
                            @country.DictCountry.Name

                            @if (country.Id != item.CinemaCountries.LastOrDefault().Id)
                            {
                                <i>,</i>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Years)
                    </td>
                    <td>

                        @foreach (var regiser in item.CinemaRegisers)
                        {
                            @regiser.DictCinemaRegiser.FullName

                            @if (regiser.Id != item.CinemaRegisers.LastOrDefault().Id)
                            {
                                <i>,</i>
                            }
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictCinemaDuration.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictCinemaAgeRestrictions.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>