@model IEnumerable<AisMKIT.Models.ListOfCinematographyCertificates>

@{
    ViewData["Title"] = "Index";
}

<h1>Сертификаты к фильмам</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<div class="container overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictCountry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Years)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictCinemaRegiser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictCinemaDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictCinemaAgeRestrictions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameRus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictCountry.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Years)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictCinemaRegiser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictCinemaDuration.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictCinemaAgeRestrictions.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>