@model AisMKIT.Models.ListOfTeleRadio

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListOfMedia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListOfMedia.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPermission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPermission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictAgencyPerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictAgencyPerm.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfPermGas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfPermGas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermGASDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermGASDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermElimGASDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermElimGASDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.ListOfMediaId">Назад</a>
    </form>
</div>
