@model IEnumerable<AisMKIT.Models.DictLegalForm>

@{
    ViewData["Title"] = "Index";
}

    <h2>Организационно-правовая форма</h2>

<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameKyrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameRus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DictStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeactiveDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameKyrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameRus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DictStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeactiveDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
