@model AisMKIT.Models.ListOfMonumetnTypologicalAccessory

@{
    ViewData["Title"] = "Типологическая принадлежность";
}

<h4>Детали</h4>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListOfMonuments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListOfMonuments.NameRus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictMonumentTypologicalType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictMonumentTypologicalType.Id)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index" asp-route-id="@Model.ListOfMonumentsId">Назад</a>
</div>
