@model AisMKIT.Models.ListOfCouncilTheatrical

@{
    ViewData["Title"] = "Cостав художественного совета";
}

<h1>Удаление</h1>

<h3>Вы хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListOfTheatrical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListOfTheatrical.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameOfArts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameOfArts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameOfArts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameOfArts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronicNameOfArts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronicNameOfArts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateInArtCouncil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateInArtCouncil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOutArtCouncil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOutArtCouncil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
