@model AisMKIT.Models.ListOfTourismServices

@{
    ViewData["Title"] = "Оказываемые услуги";
}

<h4>Детали</h4>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictTourismServices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictTourismServices.Id)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListOfTourism)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListOfTourism.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictStatus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeactivateStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeactivateStatus)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index" asp-route-id="@Model.ListOfTourismId">Назад</a>
</div>
