@model AisMKIT.Models.DictCinematographyServices

@{
    ViewData["Title"] = "Услуги киномотографии";
}

<h4>Детали</h4>

<div>
    
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameKyrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameKyrg)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameRus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameRus)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
