@model AisMKIT.Models.ListOfStateAwards

@{
    ViewData["Title"] = "Удаление";
}

    <h1>Удаление</h1>

      <h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>ListOfStateAwards</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronicNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronicNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictStateAwardsType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictStateAwardsType.NameRus)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictAwardsPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictAwardsPosition.NameRus)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictAwardsReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictAwardsReason.NameRus)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
