@model AisMKIT.Models.ListOfMonumentsProtObjects

@{
    ViewData["Title"] = "Реестр охраняемых объектов культурного наследия";
}

<h1>Удаление</h1>

<h3>Вы хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameRus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameRus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictDistrict.NameRus)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictFinSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictFinSource.NameRus)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronicNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronicNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalDocs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalDocs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ploshad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ploshad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStatus)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
