@model AisMKIT.Models.ListOfMonumentsProtObjects

@{
    ViewData["Title"] = "Реестр охраняемых объектов культурного наследия";
}

<h4>Детали</h4>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameRus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameRus)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictDistrict.NameRus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictFinSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictFinSource.NameRus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronicNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronicNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalDocs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalDocs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ploshad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ploshad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStatus)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
