@model AisMKIT.Models.ListOfCultEvents

        @{
        ViewData["Title"] = "Подробности";
        }
        
        <h1>Подробности</h1>
        
<div>
    <h4>Мероприятие</h4>
    <hr />
    <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DictTypeOfKMM)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DictTypeOfKMM.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DistLoc)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DistLoc.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EventTopic)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EventTopic)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StartDateTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StartDateTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EndDateTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EndDateTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DictInitiatorOfProj)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DictInitiatorOfProj.Name)
                    </dd>
    </dl>
</div>
<div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
            <a asp-action="Index">Назад</a>
</div>
