@model AisMKIT.Models.ListOfEventsTheatrical

@{
    ViewData["Title"] = "Репертуары";
}

<h4>Детали</h4>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListOfTheatrical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListOfTheatrical.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictTheatricalHall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictTheatricalHall.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index" asp-route-id="@Model.ListOfTheatricalId">Назад</a>
</div>
