@model AisMKIT.Models.ListOfTheatrical

@{
    ViewData["Title"] = "Реестр ТЗУ";
}

<h4>Детали</h4>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameRus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameRus)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameKyrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameKyrg)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictLegalForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictLegalForm.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronicNameDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronicNameDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameOfArtsDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameOfArtsDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameOfArtsDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameOfArtsDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronicNameOfArtsDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronicNameOfArtsDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumEmployees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumEmployees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictFinSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictFinSource.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReregistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReregistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeactiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeactiveDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
