@model AisMKIT.Models.ListOfLibraryIndicators

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListOfLibraryIndicators</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibraryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatLanding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatLanding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmerCapLib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmerCapLib)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecAdapLib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecAdapLib)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverhaulMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverhaulMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Redecorated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Redecorated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Computers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Computers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternetConnection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternetConnection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComputersForUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComputersForUsers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserConnection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserConnection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsersLib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsersLib)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecRetTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecRetTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumOfEx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNumOfEx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopKyrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopKyrg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventsLib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventsLib)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Librarians)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Librarians)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegEducation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
