@model AisMKIT.Models.ListOfRents

@{
    ViewData["Title"] = "Объекты для предоставления";
}

<h1>Удаление</h1>

<h3>Вы хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameRus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameRus)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameKyrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameKyrg)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictRentObjectType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictRentObjectType.Id)
        </dd class>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd class>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
