@model IEnumerable<AisMKIT.Areas.Media.Models.PermissionMediaModel>

@{
    ViewData["Title"] = "Подведомственные учреждения СМИ";
}

<h2>Подведомственные учреждения СМИ</h2>

<br />
<br />

<div class="overflow-auto">

    <table id="myTable" class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    <strong>№п.п.</strong>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LegalForm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisterDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MediaType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PermissionNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PermissionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepPermGive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarningDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarningEndDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int id = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @id
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LegalForm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisterDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MediaType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PermissionNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PermissionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepPermGive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WarningDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WarningEndDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>