@model IEnumerable<AisMKIT.Models.ListOfEduInstituts>

@{
    ViewData["Title"] = "Реестр учебных заведений";
}

<h2>Реестр учебных заведений</h2>

<br />

<div class="d-flex justify-content-between">
    <a asp-action="Create">Добавить новый</a>

    <form asp-action="Index">
        <table>
            <tr>
                <td>
                    <select id="Id" name="Id" class="form-control" asp-items="ViewBag.DictFinSourceId">
                        <option disabled selected>--- Выбрать ---</option>
                    </select>
                </td>
                <td><input type="submit" value="Фильтр" class="btn btn-primary" /></td>
            </tr>
        </table>
    </form>

</div>
<br />
<br />

@*<table class="table">
    <tr>
        <td width="150">
            <p>
                <a asp-action="Create">Добавить новый</a>
            </p>
        </td>
        <td width="400">
            <form asp-action="Index">
                <table>
                    <tr>
                        <td>
                            <select id="Id" name="Id" class="form-control" asp-items="ViewBag.DictFinSourceId">
                                <option disabled selected>--- Выбрать ---</option>
                            </select>
                        </td>
                        <td><input type="submit" value="Фильтр" class="btn btn-primary" /></td>
                    </tr>
                </table>
            </form>
        </td>
        <td></td>
    </tr>
</table>*@


<div class="overflow-auto">

    <table id="myTable" class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameRus)
                </th>
                @*<th>
            @Html.DisplayNameFor(model => model.NameKyrg)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DictLegalForm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastNameDirector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstNameDirector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatronicNameDirector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictEduInstType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictFinSource)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReregistrationDate)
                </th>
                @*<th>
            @Html.DisplayNameFor(model => model.DeactiveDate)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameRus)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.NameKyrg)
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.DictLegalForm.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.INN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastNameDirector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstNameDirector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatronicNameDirector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictEduInstType.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictFinSource.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReregistrationDate)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.DeactiveDate)
        </td>
        <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>