@model IEnumerable<AisMKIT.Models.ListOfTourismIndicator>

@{
    ViewData["Title"] = "Index";
}

<h1>Индикаторы туризма</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GDP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InTurist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutTurist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeOfServicesForExport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeOfServicesForImport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummOfInvestFromBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummOfPrivateDomesticInvest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummOfForeignInvest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageMonthSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GDP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InTurist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutTurist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeOfServicesForExport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeOfServicesForImport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummOfInvestFromBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummOfPrivateDomesticInvest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummOfForeignInvest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageMonthSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
