@model AisMKIT.Models.ListOfControlMedia

@{
    ViewData["Title"] = "Проверки и вынесенные решения";
}

<h1>Удаление</h1>

<h3>Вы хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListOfMedia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListOfMedia.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictControlType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictControlType.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDatePeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDatePeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDatePeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDatePeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronicName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronicName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActDateControl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActDateControl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfAct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfAct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictMediaControlResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictMediaControlResult.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWarning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfWarning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarningEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarningEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarningRemovalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarningRemovalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPenalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPenalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocNumPenalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocNumPenalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltySum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltySum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPenaltyPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPenaltyPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnulmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnulmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfAnulment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfAnulment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfSuit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfSuit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSuit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSuit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfSuitPerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfSuitPerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSuitPerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSuitPerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictMediaSuitPerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictMediaSuitPerm.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.ListOfMediaId">Назад</a>
    </form>
</div>
